<%= render 'search_tools' %>

<div class="std-div">
  <% # TODO less logic in view %>
  <div class="user-info">
    <h3>One user with the specified <%= params[:sought_user][:filter] %> found.</h3>

    Name:  <%= @user.name %> </br>
    Email: <%= @user.email %> </br>
    <% # TODO More clever user id as user name %>

    <%= form_tag 'chat/index' do %>
      <%= submit_tag "Submit" %><br />
    <% end %>

    <%= button_to 'Start Conversation', { controller: :chat, action: :index },
      method: :get %>
  </div>
</div>
